Value Port (\w+)
Value Vdom (\w+)
Value IP_ADDRESS (\d+\.\d+\.\d+\.\d+\s\d+\.\d+\.\d+\.\d+)
Value NET_MASK (\d+\.\d+\.\d+\.\d+)

Start
  ^.*edit\s"${Port}"
  ^.*set vdom\s"${Vdom}"
  ^.*set.*ip\s+${IP_ADDRESS} -> Record


